/* CSS from Frontend mentor */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2%;
    color:hsl(0, 0%, 100%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* My custom css  */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 350px;
    height: 560px;
    border-radius: 12px;
    background-color: hsl(216, 50%, 16%);
}

.bg-img {
    width: 300px;
    height: 300px;
    margin: 25px;
    position: relative;
    top: 25px;
    margin-bottom: 50px;
    border-radius: 17px;
}

.hero-img {
    width: 300px;
    height: 300px;
    border-radius: 4%;
    opacity: 1;
}

.icon-view {
    position: absolute;
    margin-top: -190px;
    margin-left: 150px;
    opacity: 0;
}

.top-element:hover .bg-img {
    background-color: hsl(178, 100%, 50%);
}

.top-element:hover .hero-img{
    opacity: 0.3;
}

.top-element:hover .icon-view {
    opacity: 1;
}

.head-title {
    margin-top: -10px;
    font-size: 1.3em;
}

.a-head-title {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}

.a-head-title:hover {
    color:hsl(178, 100%, 50%);
}

.bottom-element {
    margin-left: 25px;
}

.paragraph {
    color: hsl(215, 52%, 70%);
    font-weight: 300;
}

.element-display{
    display: flex;
    flex-direction: row;
}

.display-eth {
    margin-right:105px;
    color: hsl(178, 100%, 50%);
}

.text-price {
    margin-top: -25px;
    margin-left: 15px;
}

.text-day {
    margin-top: -25px;
    margin-left: 19px;
    color: hsl(215, 52%, 70%);
}

hr{
    width: 95%;
    margin-left: 0%;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border: none;
}

.author {
    margin-top: 15px;
}

.author-img {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-radius: 50%;
    border-color: hsl(0, 0%, 100%);
}
.author-info {
    margin-top: -30px;
    margin-left: 40px;
    color:hsl(215, 52%, 70%);
    font-size: 0.8em;
}

.author-alink {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}

.author-alink:hover {
    color:hsl(178, 100%, 50%);
}

/* Adding the responsive part */
@media screen and (max-width: 450px) {
    /* Don't know what to add in the media queries */
    .paragraph {
        font-size: 16px;
        margin-right: 25px;
    }

    .text-day {
        font-size: 16px;
        margin-top: -23px;
    }

    .text-price {
        font-size: 16px;
        margin-top: -23px;
    }

    .author-info {
        font-size: 16px;
    }
}